.btn-rounded  {
    font-family: 'Merriweather Sans', sans-serif;
    border: 4px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
}

.mt-btn-1 {
    margin-top: 30px;
}

.b-submit {
    width: 100%;
}

.btn-valid {
    background: #ff6842; 
    border-color: #ff6842;
    color: #f5f5f5;
}

.btn-invalid,
.btn-invalid:hover {
    background: #ff684290; 
    border-color: #ff684220;
    color: #f5f5f5;
    cursor: default;
}