<nav class="navbar navbar-expand-lg py-nav fixed-top" (scroll)="onScroll();"
    [ngClass]="bgScroll?'navbar-inverse shadow':'navbar'">
    <div class="container px-nav">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item pr-menu">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item pr-menu">
                    <a class="nav-link" href="#service">Services</a>
                </li>
                <li class="nav-item pr-menu">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>