.py-nav {
    padding: 17px 0;
}

.px-nav {
    padding: 0 40px;
}

.pr-menu {
    padding-right: 18px;
}

.nav-btn-inverse {
    font-size: 28px;
    color: #000;
}

.navbar {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    transition: 0.3s;

    .navbar-brand {
        letter-spacing: 0.7px;
        color: #c4c4c4;
    }

    .nav-link {
        color: #c4c4c4;
        letter-spacing: 0.5px;
    }
}

.navbar-inverse {
    background-color: #fff;
    transition: 0.3s;

    .navbar-brand {
        color: #000;
    }

    .nav-link {
        color: #000;
    }
}

.navbar-toggler {
    border-color: #c4c4c4;
    font-size: 28px;
}

@media (max-width: 991.98px) {
    .navbar {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        background-color: #fff;
        transition: 0.3s;
    
        .navbar-brand {
            letter-spacing: 0.7px;
            color: #000;
        }
    
        .nav-link {
            color: #000
        }
    }
}