.attribut-icon{
    color: #3a3a3a;
}

.attribut-icon-active{
    color: $color-primary;
}

body.dark{
    .attribut-icon{
        color: #8C8C8E !important;
    }

    .attribut-icon-active{
        color: $color-primary !important;
    }
}