/*
Typography
=========================== */
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    // overflow-x: hidden !important;
    @extend .removeScrollStyle;
}

body {
	color:$color-content;
    font-family: $font-family;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;

    &.dark{
        background-color: #4D5559 !important;
    }
}


a{
	outline:0;
    cursor: pointer;
    color: var(--color-primary);
    @include transition("all .5s ease-in-out");

    &:focus{
        outline: 0;
    }

    &:hover{
        color: var(--color-primary);
        text-decoration:underline;
    }

    &.link{
        color: $color-content;
        text-decoration: none;
    }
}

h1{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 55px;
    line-height: 68px;
    font-weight: 500;
	color: $color-title;
	margin: 0 0 15px 0;
    letter-spacing: .5px;
    text-transform: none !important;

    small{
        color: #bfbfbf;
    }
}

h2{
    @extend h1;
	font-size:36px;
	line-height:48px;
}

h3{
    @extend h1;
	font-size:30px;
	line-height:36px;
}

h4{
    @extend h1;
	font-size:24px;
	line-height:30px;
}

h5{
    @extend h1;
	font-size:18px;
	line-height:24px;
}

h6{
    @extend h1;
	font-size:14px;
	line-height:18px;
}

p{
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0;
    }
}

label{
    color:  #000;
}

strong{
    color: $color-title;
}
