
/*
Color
=========================== */
$color-title: #f5f5f5;
$color-content: #fcfcfc;
$color-primary: #01B075;
$color-primary2: rgb(18, 133, 110);
$color-danger: #FF4B3A;
$color-secondary: #747474;
$color-warning: #FFE41E;
$color-success: #30C14F;
$color-info: #35A7FF;
$--ck-highlight-marker-yellow: #fdfd77;
$--ck-highlight-marker-green: #62f962;
$--ck-highlight-marker-pink: #fc7899;
$--ck-highlight-marker-blue: #72ccfd;
$--ck-highlight-pen-red: #e71313;
$--ck-highlight-pen-green: #128a00;

:root {
    --color-primary: #1e5ab4;
    --color-primary2: #2263C5;
}

/*
Break Responsive
=========================== */
$mobile-sm-screen: 480px;
$mobile-screen: 767px;
$ipad-sm-screen: 812px;
$ipad-screen: 920px;

/*
Bootstrap Custom
=========================== */
$theme-colors: (
    "primary": $color-primary,
    "danger": $color-danger,
    "secondary": $color-secondary,
    "warning": $color-warning,
    "success": $color-success,
    "info": $color-info
);

/*
Font Family
=========================== */
$font-family: 'Merriweather Sans', sans-serif;
$font-family: 'Merriweather', serif;
$font-size: 14px;

/*
General Extend
=========================== */
.animate {
	transition: all 0.3s ease-in-out;
}

.removeScrollStyle{
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
	
	&::-webkit-scrollbar { 
        width: 0 !important;
        height: 0 !important;
    }
}

