<div class="container-fluid bg-masthead d-flex">
    <div class="masthead-mask height-masthead d-flex align-items-center">

    <div class="container-md">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center px-masthead">
                <h1 class="text-masthead">Your Favorite Place for Free Bootstrap Themes</h1>
                <hr class="divider bg-main">
                <p class="sub-masthead">Start Bootstrap can help you build better websites using the Bootstrap
                    framework! Just download a theme and start customizing, no strings attached!
                </p>
                <button class="btn btn-rounded bg-main mt-btn-1">
                    FIND OUT MORE
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- about -->
<div class="container-fluid bg-main" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center p-about">
                <h2>We've got what you need!</h2>
                <hr class="divider">
                <p>
                    Start Bootstrap has everything you need to get your new website up and running in no time!
                    Choose one of our open source, free to download, and easy to use themes! No strings attached!
                </p>
                <button class="btn btn-rounded">
                    GET STARTED!
                </button>
            </div>
        </div>
    </div>
</div>

<!-- services -->
<div class="container-fluid" id="service">
    <div class="container">
        <div class="row text-center">
            <div class="col p-service">
                <h2>At Your Service</h2>
                <hr class="divider bg-main">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <i class="bi bi-gem i-size"></i>
                        <h4>Sturdy Themes</h4>
                        <p class="">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-service2">
                        <i class="bi bi-laptop i-size"></i>
                        <h4>Up to Date</h4>
                        <p class="">All dependencies are kept current to keep things fresh.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-service3">
                        <i class="bi bi-globe i-size"></i>
                        <h4>Ready to Publish</h4>
                        <p class="">You can use this design as is, or you can make changes!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-service4">
                        <i class="bi bi-heart i-size"></i>
                        <h4>Made with Love</h4>
                        <p class="">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- portfolio -->
<div class="container-fluid" id="portfolio">
    <div class="row">
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/1.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/1.jpg" title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/2.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/2.jpg"  title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/3.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/3.jpg" title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/4.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/4.jpg" title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/5.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/5.jpg" title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 p-0 img popup-gallery">
            <img src="../../../assets/img/6.jpg" class="img-fluid" alt="" />
            <a href="../../../assets/img/6.jpg" title="Project Name">
            <div class="d-flex align-items-center justify-content-center text-center img-overlay">
                <div class="img-description">
                    <p class="title">CATEGORY</p>
                    <p class="desc">Project Name</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    </div>

    <div class="container-fluid bg-portfolio">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Free Download at Start Bootstrap!</h2>
                <button class="btn btn-rounded">
                    DOWNLOAD NOW!
                </button>
            </div>
        </div>
    </div>
</div>

<!-- contact -->
<div class="container-fluid p-contact" id="contact"  (click)="validator();">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Let's Get In Touch!</h2>
                <hr class="divider bg-main">
                <p class="text">Ready to start your next project with us? Send us a messages and we will get 
                    back to you as soon as possible!</p>
            </div>
            <div class="row justify-content-center p-0">
                <div class="col-lg-6 text-center px-form">
                    <form class="text-start" [formGroup]="loginForm">
                        <div class="form-floating">
                            <input type="text" class="form-control" [ngClass]="checkName?'form-empty':''"
                                formControlName="name" id="inputName" placeholder="Name">
                            <label for="inputName">Full name</label>
                            <span class="error" *ngIf="name!.invalid && name!.touched">A name is required.</span>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" [ngClass]="checkEmail?'form-empty':''" formControlName="email" id="inputEmail" placeholder="Email">
                            <label for="inputEmail">Email address</label>
                            <span class="d-block error" *ngIf="email!.invalid && email!.touched">An email is required</span>
                            <span class="error" *ngIf="email!.invalid && email!.touched">Email is not valid.</span>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" [ngClass]="checkPhone?'form-empty':''" formControlName="phone" id="inputPhone" placeholder="Phone">
                            <label for="inputPhone">Phone number</label>
                            <span class="error" *ngIf="phone!.invalid && phone!.touched">A phone number is required.</span>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" [ngClass]="checkMessage?'form-empty':''" formControlName="message" id="inputMessage" placeholder="Message"></textarea>
                            <label for="inputMessage">Message</label>
                            <span class="error" *ngIf="message!.invalid && message!.touched">A message is required.</span>
                        </div>
                        <button type="submit" class="btn b-submit btn-rounded" [ngClass]="checkBtn?'btn-valid':'btn-invalid'">SUBMIT</button>
                    </form>                
                    <div class="phone">
                        <i class="bi bi-phone bi-phone-size"></i>
                        <p>+1 (555) 123-4567</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>