.height-masthead {
    height: 100vh;
    padding-top: 74px;
}

.bg-masthead {
    background-image: url(../../../assets/img/bg-masthead.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0;
}

.masthead-mask {
    background-color: #493c30d3;
    width: 100%;
    left: 0;
    right: 0;
}

.px-masthead {
    padding: 0 30px;
}

.sub-masthead {
    font-size: 19px;
    line-height: 28px;
    color: #b8b8b8;
}

.font-weight-bold {
    font-weight: 700;
}

.divider {
    border-top: 4px solid;
    width: 52px;
    margin: 24px auto;
    opacity: 1;
}

.bg-main { 
    background: #ff6842; 
    border-color: #ff6842;
    color: #f5f5f5;
}

.p-about {
    padding: 126px 38px;

    h2 {
        font-weight: 500;
        font-size: 32px;
    }
}

.p-service {
    padding: 126px 38px;

    h2 {
        font-weight: 500;
        font-size: 32px;
        color: #000;
    }

    h4 {
        margin-top: 18px;
        margin-bottom: 7px;
        font-weight: 400;
        color: #000
    }

    p {
        color: #747474;
    }

    .row {
        padding-top: 48px;
        
        .i-size {
            font-size: 40px;
            color: #ff6842;
        }
    }
}

.p-service div div {
    padding: 0 24px;
}

.img {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6842ea;
    opacity: 0;
    transition: 0.3s;

    img {
        width: auto;
        height: 80px;
    }
}

.img-overlay:hover {
    opacity: 1;
    transition: 0.3s;
}

.img-description {
    color: #e9e9e9b0;
    .title {
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .desc {
        font-size: 19px;
    }
}

.bg-portfolio {
    background-color: #242424;
    padding: 126px 38px;

    h2 {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: #f5f5f5;
    }

    button {
        color: #000;
    }
}

.p-contact {
    padding: 126px 38px;
    color: #000;

    h2 {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: #000;
    }

    .text {
        padding: 0 20px;
    }

    p {
        color: #747474;
    }

    .px-form {
        padding: 0 38px;
    }

    .text-start {
        margin-top: 52px;
    }
}

.form-floating {
    margin-bottom: 15px;
    
    textarea {
        height: 160px;
    }
}

input:focus,
textarea:focus {
    border-color: #8f898933;
    box-shadow:0 0 2px 4px #ff000038;
}

.form-empty {
    border-color: #ff0000;
    box-shadow:0 0 2px 4px #ff000038;
}

.error {
    font-size: 14px;
    color: #e75050;
}

.phone {
    margin-top: 52px;

    .bi-phone-size {
        font-size: 32px;
        color: #747474;
    }

    p {
        margin-top: 8px;
        color: #000;
    }
}



@media (max-width: 1199.98px) {
    h1 {
        font-size: 48px;
        line-height: 58px;
    }
    
    .p-service {
        h2 {
            font-weight: 500;
            font-size: 30px;
            color: #000;
        }
        
        h4 {
            font-size: 22px;
            margin-top: 18px;
            margin-bottom: 7px;
            font-weight: 400;
            color: #000
        }
    
        p {
            color: #747474;
        }
    
        .row {
            padding-top: 48px;
            
            .i-size {
                font-size: 40px;
                color: #ff6842;
            }
        }
    }
}

@media (max-width: 991.98px) { 
    .height-masthead {
        height: 75vh;
    }
    
    .text-masthead {
        font-size: 36px;
        line-height: 48px;
    }
    
    .sub-masthead {
        font-size: 16px;
        line-height: 25px;
    }
    
    .px-masthead {
        padding: 0;
    }

    .mt-service3,
    .mt-service4 {
        margin-top: 48px;
    }
    
    .p-about {
        padding: 126px 0px;
        
        h2 {
            font-weight: 500;
            font-size: 28px;
        }
    }
}

@media (max-width: 768.98px) { 
    .height-masthead {
        height: 75vh;
    }

    .px-masthead {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .text-masthead {
        font-size: 36px;
    }
    
    .sub-masthead {
        font-size: 16px;
    }

    .p-about {
        padding-left: 10px;
        padding-right: 15px;
    }

    .bg-portfolio {
        h2 {
            font-size: 26px;
        }
    }

    .img-fluid {
        width: 100%;
    }

    .p-service {
        h2 {
            font-size: 28px;
        }
    }
    
    .mt-service2,
    .mt-service3,
    .mt-service4 {
        margin-top: 48px;
    }

    .p-contact {
        .text {
            padding: 0;
        }

        padding: 126px 0px;

        h2 {
            font-size: 26px;
        }

        .px-form {
            padding: 0 20px;
        }
    }

    .i-size {
        font-size: 32px;
        color: blue;
    }
}

@media (max-width: 425.98px) { 
    .height-masthead {
        height: 80vh;
        padding: 20px;
        margin-top: 74px;
    }

    .mt-service2 {
        margin-top: 48px;
    }

    .p-about {
        h2 {
            font-size: 26px;
        }
    }

    .p-service {
        h2 {
            font-size: 26px;
        }

        h4 {
            font-size: 20px;
        }

        .mt-service2 {
            margin-top: 48px;
        }
    }

    .bg-portfolio {
        h2 {
            font-size: 26px;
        }
    }

    .p-contact {
        padding: 126px 0px;

        h2 {
            font-size: 26px;
        }

        .px-form {
            padding: 0 20px;
        }
    }

    .p-about {
        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
  }